<section>
      <div class="container text-left">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>TASoft Vision</h2>
            	<p class="lead">Software As a System: software systems are difficult to manage due their complexity and rapidity changing environment.</p>
 				<p class="lead">Software navigates to its trustworthy goal: it is a viable and adaptive process</p>
 				<p class="lead">It is an evolution process: software system should either reach its trustworthy state or die</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Hurdles to Trustworthy Software Development</h2>  
           		<p class="lead">Three causes of software defects: variations, mistakes, and complexity. </p>
            	<p class="lead">Mistakes play an increasingly crucial role in determining product quality. Furthermore, the collective impact of these mistakes, commonly prevalent in complex systems, can be potentially catastrophic. However, complexity is the mother of all defects. </p>
            </div>
           </div>   
       <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Science Driven Trustworthy Software Problem and Solution Space</h2>  
           		<p class="lead">Open Collaboration</p>
           		<p class="lead">Lessons from Open Source </p>
          </div>
       </div>    
       <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Trustworthy Assured Software Development Strategy</h2>  
           		<p class="lead">RAPTOR</p>
          </div>
       </div>   
       </div>  
</section>
