  <section class="bg-primary text-white" id="home">
      <div class="container text-center">
        <h1>Trustworthy Assured Software</h1>
        <p class="lead">Taming Software Complexity and Defects, the RAPTOR Strategy!!!</p>
        <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" align="left"><font size="5">R</font>: (User) Responsiveness</div>
        </div>
        <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" align="left"><font size="5">A</font>: Autonomy</div>
        </div>
        <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" align="left"><font size="5">P</font>: Protection</div>
        </div>
        <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" align="left"><font size="5">T</font>: Transparency</div>
        </div>
        <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" align="left"><font size="5">O</font>: Openness</div>
        </div>
        <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" align="left"><font size="5">R</font>: (Practitioner) Responsiveness</div>
        </div>
      </div>
</section>